#messages {
    overflow-y: scroll;
    height: 200px;
}

table {
    border-collapse: collapse;
    width: 85%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.banner {
    background-color: #333; /* Dark background color */
    color: #fff; /* Text color */
    padding: 10px; /* Padding for the content */
    text-align: center; /* Center align the content */
}

.banner a {
    color: #fff; /* Link color */
    margin: 0 10px; /* Add spacing between links */
}
.toolbar {
    margin-top: 10px; 
}
@media (max-width: 767px) {
    .toolbar {
        margin-top: 20px; 
    }
}

.table-wrapper {
    padding: 10%; 
}

.cnf-step {
    padding: 10px;
    margin-bottom: 10px; 
}

.output {
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
}
body {
    font-family: Arial, sans-serif;
}
svg {
    width: 100%;
    height: auto;
}
.node circle {
    fill: #fff;
    stroke: #000;
    stroke-width: 2px;
}
.node text {
    font-size: 12px;
    text-anchor: middle;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
/* Remove default bullets */
ul, #dpllList {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #dpllList {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }
  #dpllList {
    list-style-type: none;
    padding-left: 0;
  }

  #dpllList li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #141517; /* Added border */
  }

  #dpllList li ul {
    padding-left: 20px;
  }

  #output, #tree {
    margin-bottom: 5%;
  }