#messages {
    overflow-y: scroll;
    height: 200px;
}

table {
    border-collapse: collapse;
    width: 75%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.banner {
    background-color: #333; /* Dark background color */
    color: #fff; /* Text color */
    padding: 10px; /* Padding for the content */
    text-align: center; /* Center align the content */
}

.banner a {
    color: #fff; /* Link color */
    margin: 0 10px; /* Add spacing between links */
}
.toolbar {
    margin-top: 10px; 
}
@media (max-width: 767px) {
    .toolbar {
        margin-top: 20px; 
    }
}

.table-wrapper {
    padding: 10%; 
}

.cnf-step {
    padding: 10px;
    margin-bottom: 10px; 
}

.output {
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
}