#messages {
    overflow-y: scroll;
    height: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.banner {
    background-color: #333; /* Dark background color */
    color: #fff; /* Text color */
    padding: 10px; /* Padding for the content */
    text-align: center; /* Center align the content */
}

.banner a {
    color: #fff; /* Link color */
    text-decoration: none; /* Remove underline from links */
    margin: 0 10px; /* Add spacing between links */
}